* {
  margin: 0;
  padding: 0;
}
section {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cards {
  width: 250px;
  padding: 20px;
}
.cards:hover {
  box-shadow: 3px 5px 10px rgb(247, 246, 246) inset;
  cursor: pointer;
  background-color: rgb(62, 60, 60);
  color: whitesmoke;
  border: 1px solid rgb(71, 75, 52);
}
.image_box img {
  width: 150px;
  height: 200px;
}

.image_box img {
  width: 150px;
  height: 200px;
}
.details p:nth-child(1) {
  font-weight: bold;
}
.details p:nth-child(2) {
  color: rgb(54, 35, 35);
  font-size: 0.8rem;
}
.details p:nth-child(3) {
  font-weight: bolx;
  color: rgb(46, 28, 28);
}
.details{
  margin-top: 10px;
}
.details button{
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  background-color: rgb(100, 57, 105);
  outline: none;
}
.edit {
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  background-color: black;
  outline: none;
  color: white;
}
.edit:hover {
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  background-color: rgb(150, 98, 98);
  outline: auto;
  color: black;
}
.details button:hover{
  /* background-color: rgb(18, 234, 54); */
  outline: auto;
}

